<a href="https://colab.research.google.com/github/ricardoefamilia/CollectionsSet/blob/master/Revisao_30Jan25.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#importar Bibliotecas
import pandas as pd
import matplotlib.pyplot as plt
import statsmodels.api as sm
import seaborn as sns

In [10]:
base = pd.read_csv("https://raw.githubusercontent.com/andfranca/proadi-sus-ciencia-de-dados-ia/refs/heads/main/bases/banco-laboratorio.csv",sep=',')

In [11]:
base.describe()

,IDCOLABORADOR,IDADE,CEP,NIVELEDUCACAO,RENDAMENSAL,ANONAEMPRESA,ANOSMESMAPOSICAO,ANOSDESDEULTIMAPROMOCAO
count,1470.000000,1470.000000,1426.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000
mean,1024.865306,36.923810,9.140252,2.912925,14313.103401,7.008163,4.229252,2.187755
std,602.024335,9.135373,8.065954,1.024165,7117.786044,6.126525,3.623137,3.222430
min,1.000000,18.000000,1.000000,1.000000,2094.000000,0.000000,0.000000,0.000000
25%,491.250000,30.000000,2.000000,2.000000,8047.000000,3.000000,2.000000,0.000000
50%,1020.500000,36.000000,7.000000,3.000000,14235.500000,5.000000,3.000000,1.000000
75%,1555.750000,43.000000,14.000000,4.000000,20461.500000,9.000000,7.000000,3.000000
max,2068.000000,60.000000,29.000000,5.000000,26999.000000,40.000000,18.000000,15.000000

In [12]:
base.head()

,IDCOLABORADOR,IDADE,INSATISTFEITO,STATUSCIVIL,GENERO,NOME,SETOR,CARGO,CEP,NIVELEDUCACAO,FORMACAO,RENDAMENSAL,DESCONTOULTIMAFATURA,ANONAEMPRESA,ANOSMESMAPOSICAO,ANOSDESDEULTIMAPROMOCAO
0,1,41,Sim,Solteiro,Feminino,Maria da Silva,Alimentos,Auditor,1.0,2,Ciencias Sociais,19479,Sim,6,4,0
1,5,33,Nao,Casado,Feminino,Ana Oliveira,Saude,Pesquisador,3.0,4,Ciencias Sociais,23159,Sim,8,7,3
2,10,59,Nao,Casado,Feminino,Juliana Santos,Saude,Tecnico de Laboratorio,3.0,3,Medicina,9964,Sim,1,0,0
3,15,29,Nao,Solteiro,Feminino,Fernanda Costa,Saude,Tecnico de Laboratorio,NaN,2,Ciencias Sociais,12682,Sim,9,5,0
4,20,29,Nao,Divorciado,Feminino,Beatriz Lima,Saude,Diretor de Manufatura,21.0,4,Ciencias Sociais,10195,Nao,10,9,8

In [13]:
base.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 16 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   IDCOLABORADOR            1470 non-null   int64
 1   IDADE                    1470 non-null   int64
 2   INSATISTFEITO            1470 non-null   object
 3   STATUSCIVIL              1470 non-null   object
 4   GENERO                   1470 non-null   object
 5   NOME                     1470 non-null   object
 6   SETOR                    1470 non-null   object
 7   CARGO                    1470 non-null   object
 8   CEP                      1426 non-null   float64
 9   NIVELEDUCACAO            1470 non-null   int64
 10  FORMACAO                 1470 non-null   object
 11  RENDAMENSAL              1470 non-null   int64
 12  DESCONTOULTIMAFATURA     1470 non-null   object
 13  ANONAEMPRESA             1470 non-null   int64
 14  ANOSMESMAPOSICAO         1470 non-null   int64
 15  ANOSDESDEULTIMAPROMOCAO  1470 non-null   int64
dtypes: float64(1), int64(7), object(8)
memory usage: 183.9+ KB

In [14]:
base.isna().sum()

IDCOLABORADOR               0
IDADE                       0
INSATISTFEITO               0
STATUSCIVIL                 0
GENERO                      0
NOME                        0
SETOR                       0
CARGO                       0
CEP                        44
NIVELEDUCACAO               0
FORMACAO                    0
RENDAMENSAL                 0
DESCONTOULTIMAFATURA        0
ANONAEMPRESA                0
ANOSMESMAPOSICAO            0
ANOSDESDEULTIMAPROMOCAO     0
dtype: int64

In [15]:
#subset - selecionar pedaos da base de dados para work
base['IDADE']

0       41
1       33
2       59
3       29
4       29
        ..
1465    36
1466    39
1467    27
1468    49
1469    34
Name: IDADE, Length: 1470, dtype: int64

In [16]:
#subset de mais de uma coluna
base[['IDADE','STATUSCIVIL']]

      IDADE STATUSCIVIL
0        41    Solteiro
1        33      Casado
2        59      Casado
3        29    Solteiro
4        29  Divorciado
...     ...         ...
1465     36      Casado
1466     39      Casado
1467     27      Casado
1468     49      Casado
1469     34      Casado

[1470 rows x 2 columns]